{% extends "layouts/main_layout.html" %}

{% block content %}
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-lg-3 p-0" style="height: 100% !important;">
            <div class="status-box profil p-3">
                <div class="row py-3 justify-content-center">
                    <div class="col-6 row align-items-center p-0">
                        <div class="col-12">
                            <h4>{{ nama }}</h4>
    
                            <span class="font-so-small text-muted col-12">Email</span>
                            <span class="font-so-small col-12"><b>{{ email }}</b></span>
                        </div>

                        <div class="text-center mt-2 col-12">
                            <a href="{{ url_for('setting') }}" class="btn dream-app btn-primary font-so-small py-1" style="width: 70%;">SETTING AKUN</a>
                            <a href="{{ url_for('logout') }}" class="btn btn-danger font-so-small p-1" style="width: 20%;">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <!-- check if image not null -->
                        {% if image %}
                            <img style="height: 147px; width: 147px;" src="{{ url_for('static', filename='uploads/' + image) }}" class="img-fluid img-cover rounded" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='img/user.png') }}" style="height: 140px;" class="img-fluid img-cover rounded" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="status-box pilih-kamera px-3 py-4">
                
                    <select class="form-select" name="camera_index" id="camera_index" aria-label="Default select example">
                        <option selected disabled>Pilih Kamera</option>
                        <!-- loop -->
                        
                    </select>

                    <div class="text-center mt-2">
                        <button type="button" id="btn_post" value="Start/Stop Recording" class="btn dream-app btn-primary font-small py-1" style="width: 100%;">PROSES</button>
                    </div>
                
            </div>
            <div class="status-box hasil p-3 text-center">
                <h4 class="text-dream-app"><b>HASIL</b></h4>
                <!-- table -->
                <table class="text-start font-bit-small text-dream-app text-bold">
                    <tr>
                        <td style="width: 120px;">
                            Resolusi Frame
                        </td>
                        <td style="width: 20px;">
                            :
                        </td>
                        <td>
                            888 x 500
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px;">
                            Nilai FPS
                        </td>
                        <td style="width: 20px;">
                            :
                        </td>
                        <td id="fps">
                            0
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px;">
                            Status
                        </td>
                        <td style="width: 20px;">
                            :
                        </td>
                        <td id="status">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 120px;">
                            Derajat
                        </td>
                        <td style="width: 20px;">
                            :
                        </td>
                        <td id="degree">
                            0&deg;
                        </td>
                    </tr>
                </table>
            </div>
            <div class="footer text-center py-3">
                <p class="font-so-small" style="margin: auto;">Copyright © Undiksha 2023</p>
            </div>
        </div>
        <div class="col-lg-9" style="background-color: rgb(209, 209, 209);">
            <!-- <div class="py-3 ps-lg-0 ps-3 pe-3"> -->
                <div class="video-box d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <!-- <h3 class="text-light">BELUM ADA VIDEO</h3> -->
                    <div id="container" style="display: none;">
                        <video autoplay playsinline id="videoElement"></video>
                        <canvas id="canvas" width="400" height="300"></canvas>
                    </div>
    
                    <!-- <div class= 'video'> -->
                    <img id="photo" style="width: 100% !important;">
                        <!-- <h1>video</h1> -->
                    <!-- </div> -->
                </div>
            <!-- </div> -->
        </div>
    </div>
{% endblock %}
